
{% extends 'base.html' %}

{% load static %}
{% block title %}
<title>Change Password</title>
{% endblock %}
{% block content %}

<!--banner-->
<div class="banner-top">
	<div class="container">
		<h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Change Password</h2>
		<h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a href="{% url 'home' %}">Home</a><label>/</label>Change Password</h3>
		<div class="clearfix"> </div>
	</div>
</div>

	<div>
	<div class="container">
	<div class="col-md-6 col-12"><br><br>
		<img src="{% static 'images/pswd.svg' %}" width="500px">
	</div>

        <div class="col-md-6 col-12">
						<br><br><h1 class="head">Change Password</h1>
			<br><br>
						<form action="{% url 'changepass' %}" method="post">
                              {% csrf_token %}

							<input type="password" name="oldpassword" required="" placeholder="Old Password" class="form-control">
							<br>

							<input type="password" name="newpassword" required="" placeholder="New Password" class="form-control">
							<br>

							<input type="password" name="confirmpassword" required="" placeholder="Confirm Password" class="form-control">
							<br>

							  <input type="submit" name="submit" value="Change Password" class="btn btn-info"><br><br>
						</form>
					</div>



        {% if messages %}
        <ul class="messages">

            <li>{{ messages }}</li>

        </ul>
        {% endif %}
    </div>
    </div>

<style type="text/css">
    #form1 input
    {
        width:200px;
    }

</style>
{% endblock %}