{% extends 'base.html' %}

{% load static %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block content %}

<!--banner-->
<div class="banner-top">
	<div class="container">
		<h2 class="animated wow fadeInLeft" data-wow-delay=".5s">SignIn</h2>
		<h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a href="{% url 'home' %}">Home</a><label>/</label>SignIn</h3>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- -->
	<div class="banner-bootom-w3-agileits log">
	<div class="container">
        <div class=" col-md-6 col-12">
        <h1 class="login">Login</h1><br><br>
        <form id="form1" method="post">
            {% csrf_token %}
        {{ myform.as_p }}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            <input type="submit" name="submit" value="Sign in">
        </form>
            </div> <br><br>

        <div class="col-md-6 col-12">
            <img src="{% static 'images/login.svg' %}" height="100%" width="100%">
        </div>


        {% if messages %}
        <ul class="messages">

            <li>{{ messages }}</li>

        </ul>
        {% endif %}
    </div>
    </div>

<style type="text/css">
    #form1 input
    {
        width:200px;
    }
    .login
    {
        color:#01CFCF;
        padding-top: 90px;
    }

    label
    {
        font-size:30px;
    }
    input[type="submit"]
    {
        background-color:#01CFCF;
        padding: 15px;
        margin-top:5%;
        border:0px;
        border-radius:5%;
        transition:all 0.2s linear;
        color:white;
    }
    input[type="submit"]:hover
    {
        background-color:#0be6e6;
    }

    .log
    {
        padding:80px 0px;
    }
</style>
{% endblock %}