{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Update Profile</title>
{% endblock %}

{% block content %}

    <div>
      <div class="container">
        <br><br><h1 class="head pro">Update Profile</h1><br><br>
        <form method="post">
          {% csrf_token %}
        {{ form.as_p }}
          <input type="submit" name="submit" value="Update Profile"><br><br><br>
        </form>

          {% if messages %}
          <ul class="messages">
              <li>{{ messages }}</li>
          </ul>
          {% endif %}
      </div>
    </div>

<style>
    .pro
    {
        color:#01CFCF;
    }
    label
    {
        font-size:20px;
    }
    input[type="submit"]
    {
        background-color:#01CFCF;
        padding: 15px;
        margin-top:5%;
        border:0px;
        border-radius:5%;
        transition:all 0.2s linear;
        color:white;
    }
    input[type="submit"]:hover
    {
        background-color:#0be6e6;
    }
</style>

{% endblock %}